@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AH 플랫폼</h1>
    <p class="lead">
        AH는 국민건강보험공단에서 운영관리하고 있는 ‘노인장기요양보험제도’의 ‘방문요양서비스'와 연동되는 사물인터넷(IOT) 서비스 플랫폼입니다.
    </p>
    <p><a href="http://easylaw.go.kr/CSP/CnpClsMain.laf?popMenu=ov&csmSeq=673&ccfNo=4&cciNo=4&cnpClsNo=1" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>원클릭</h2>
        <p>시각서비스<br />
            Mobile phone의 읽기 힘든 작은 글씨가 포함된 화면을 판독가능 한 거리에 있는 computer 화면에 크게 보여주고 문자를 음성으로 읽어 주는 서비스입니다.<br />
            ‘SK nugu’와 연동하여 interactive한 양방향 이미지 서비스를 제공합니다
        </p>
        <p>청각서비스<br />
            시각장애를 갖고 있는 사용자에게 ‘IFTTT (if this, then that)’, ‘Google home’과 연동하여 interactive한 양방향 음성 서비스를 제공합니다.<br />
        </p>
        <p><a class="btn btn-default" href="http://211.212.200.192/OneClickWeb/UploadImages">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>요양보호센터</h2>
        <p>IOT 기반의 요양보호센터 관제서비스입니다.<br />
            <p>사용자 요구분석 단계...</p>
            보호대상의 건강상태 실시간 관리<br />
            요양보호사 근태관리<br />
            간병일지<br />
        <p><a class="btn btn-default" href="http://www.silvercare.org/" target="_blank" >Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IOT(Internet Of Things)</h2>
        <p><a class="btn btn-default" href="https://ko.wikipedia.org/wiki/%EC%82%AC%EB%AC%BC%EC%9D%B8%ED%84%B0%EB%84%B7" target="_blank" >Learn more &raquo;</a></p>
    </div>
</div>