@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    82-10-2624-9146
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sandnbubble@gmail.com">sandnbubble@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sandnform@gmail.com">sandnform@gmail.com</a>
</address>