@{
    ViewBag.Title = "OneClickMain";
}
@Html.ActionLink("UploadImages List", "Index", "UploadImages", new { area = "" }, new { @class = "navbar-brand" })
<br /><h3>@ViewBag.Message</h3>
<br />
<p>Show uploaded image.</p>

